[core]
  editor = vim

[alias]
  co = checkout
  br = branch
  up = !git fetch origin && git pull origin
  mybr = !git rev-parse --abbrev-ref HEAD
  updm = !git co master && git up master
  list = !git branch -vv && git remote -vv
  append = commit --amend --no-edit

