[core]
	editor = nvim

[user]
# email = ""
# name = ""

# Local gitconfig files with different user names
# [includeIf "gitdir:~/HERE_LIVES_WORK_CODE/**"]
#   path = ~/Professional/.gitconfig

[push]
  default = matching

[alias]
  co = checkout
  br = branch
  com = commit
  st = status
  # add a delta to latest commit without updating message
  append = commit --amend --no-edit

  # list git remotes and branches
  list = !git remote -vv && git branch -vv
  # get string of current branch
  mybr = !git rev-parse --abbrev-ref HEAD
  # update current branch
  up   = !git rev-parse --abbrev-ref HEAD | git pull origin
  wipe = reset --hard
